[data-termynal]::after {
  content: ''
}

#termynal::after {
  content: 'Pfadinamen-Generator'; top: 12px
}
@media screen and (max-width: 500px) {
  #termynal::after { content: 'Pfadinamen'; }
}
#about::after {
  content: 'Wie funktioniert das?'; top: 12px
}
#about-fr::after {
  content: 'Comment ça marche ?'; top: 12px
}
#about-it::after {
  content: 'Come funziona?'; top: 12px
}
#about-en::after {
  content: 'How does this work?'; top: 12px
}

body {
  --color-bg: #ddd;
  --color-bg-alt: #ccc;
  --color-text: #1a1e24;
  --color-text-subtle: #787878;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 1rem 0;
}

#background {
  background: linear-gradient(to right, #3A1C71, #2D99C8, #BAD5AF);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

#termynal {
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

[data-ty-top] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 20px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

#spinner {
  width: 1.5rem;
  height: 1.5rem;
  animation: 1s infinite steps(6) spin;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

[data-ty-bottom-bar] {
  margin: 0 -45px -35px;
  padding: 15px 20px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  background: var(--color-bg-alt);
  font-size: 1rem;
}
[data-ty-bottom-bar] button {
  background: #f4c025;
  font-size: 1rem;
  border: 0;
  padding: 0.7rem 1.2rem;
  border-radius: 4px;
}
[data-ty-bottom-bar] button:hover {
  background: #F3BC16;
}
[data-ty-bottom-bar] button:disabled {
  opacity: 50%;
  background: #f4c025 !important;
}
[data-ty-bottom-bar] > * {
  margin-right: 0.7rem;
}
[data-ty-bottom-bar] > *:first-child {
  margin-right: 0;
}

/* Modal dialog using pure CSS */
.modal-trigger {
  display: none;
}
.modal-trigger:checked ~ .modal,
.modal-trigger:checked ~ .modal-background {
  display: block;
}
.modal-background {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 9998;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: none;
  width: 700px;
  height: 70vh;
  background-color: #fff;
  box-sizing: border-box;
  z-index: 9999;
}
[data-termynal].closeable > label {
  position: absolute;
  top: 0;
  left: 0;
  width: 45px;
  height: 45px;
  z-index: 1;
  cursor: pointer;
}
.modal-trigger-label, #refresh-button {
  cursor: pointer;
  font-family: Ubuntu, Arial, Helvetica, sans-serif;
}
.modal-trigger-label:hover {
  text-decoration: underline;
}
.modal-trigger-label.desktop {
  display: none;
}
@media screen and (min-width: 880px) {
  .modal-trigger-label.desktop {
    display: initial;
  }
  .modal-trigger-label.mobile {
    display: none;
  }
}
.modal-content {
  margin-right: -45px;
  padding-right: 45px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* Animated collapsable divs using pure CSS */
@keyframes fadein {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
.collapse-trigger, .collapsible {
  display: none;
  opacity: 0;
}
.collapse-trigger + label::before {
  content: '›';
  display: inline-block;
  margin-right: 1ch;
  transition: transform 0.2s ease-in-out;
}
.collapse-trigger:checked + label::before {
  transform: rotate(90deg);
}
.collapse-trigger:checked + label + .collapsible {
  display: block;
  opacity: 1;
  animation: fadein 0.5s ease-out;
}
.collapse-trigger-label {
  display: block;
  font-weight: bold;
  opacity: 0.7;
  margin-top: 1rem;
  cursor: pointer;
}
